<div class="container">
  <div class="recipe-grid">
    @for (recipe of recipes; track recipe.id) {
      <div 
        class="recipe-card" 
        [routerLink]="['/recipe', recipe.id]"
        [id]="'recipe-' + recipe.id">

        <div 
          class="favorite-icon"
          (click)="toggleFavorite(recipe, $event)">
          {{ isFavorited(recipe.id) ? '★' : '☆' }}
        </div>

        <div class="recipe-image">
          <img [src]="recipe.imageUrl" alt="{{ recipe.title }}" loading="eager" />
        </div>
        <div class="recipe-content">
          <h3 class="recipe-title">{{ recipe.title }}</h3>
          <div class="recipe-meta">
            <div class="meta-item">
              <i class="fa-regular fa-clock"></i>
              <span>{{ recipe.cookingTime }} mins</span>
            </div>
            <div class="meta-item">
              <i class="fa-solid fa-utensils"></i>
              <span>{{ recipe.ingredients }} ingredients</span>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>
