<div *ngIf="recipe as recipe" class="recipe-detail-container">      <!-- Show all details only if the recipe exists-->

  <div class="recipe-title-row">
    <a class="back-button" (click)="goBack()" ><i class="fa-solid fa-arrow-left"></i> Back to Recipes</a>

    <h1 class="recipe-title">{{ recipe?.strMeal }}</h1>

    <button class="fav-btn" (click)="toggleFavorite()">
      {{ isFavorited ? '★ Favourited' : '☆ Add to my Favourite' }}
    </button>
  </div>
    
  <div class="recipe-top-row">
    <div class="recipe-image">
      <img [src]="recipe?.strMealThumb" alt="{{ recipe?.strMeal }}" loading="eager" />
    </div>

    <div class="recipe-item-row">
      <p class="recipe-item"><strong>Category:</strong> {{ recipe?.strCategory }}</p>
      <p class="recipe-item"><strong>Area:</strong> {{ recipe?.strArea }}</p>
    </div>
  </div>

  <h3 class="instructions-title">Instructions</h3>
  <div class="instructions-wrapper">
    <div *ngFor="let step of getInstructionSteps(); let i = index" class="instruction-step">
      <div class="step-label">Step {{ i + 1 }}</div>
      <p class="step-text">{{ step }}</p>
    </div>
  </div>

  <h3 class="ingredients-title">Ingredients</h3>
  <ul class="ingredients-list">
    <li *ngFor="let ing of getIngredients()">{{ ing }}</li>
  </ul>

</div>

<div *ngIf="!recipe">     <!-- Show all details only if the recipe exists-->
  <p>Loading recipe details...</p>
</div>
