.nav-section {
  background: rgba(255,255,255,0.95);
  padding: 15px ;
  border-top: 1px solid rgba(255,255,255,0.3);
}

.nav-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 0 20px;
}
.favorites-toggle {
  position: relative;
}

.fav-toggle-btn {
  margin-right: 130px;
  background-color: #d93f6a;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.favorites-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  width: 180px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.favorites-list {
  list-style: none;
  padding-left: 0;
}
.favorites-list li a {
  color: #444;
  text-decoration: none;
  font-size: 0.9rem;
}

.favorites-list li a:hover {
  color: #d93f6a;
}


.nav-left {
  display: flex;
  margin-left: 130px;
  align-items: center;
  gap: 30px;
  font-size: 0.9rem;
  color: #666;
}

.nav-item {
  color: #666;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 20px;
  transition: all 0.3s ease;
  
}

.page-numbers {
  display: flex;
  gap: 5px;
}

.page-num {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #444;
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.page-num:hover {
  background: #d93f6a;
}
.page-num.active {
  background: #d93f6a;
  font-weight: bold;
}